Flask==1.1.1
gunicorn==19.9.0
nltk==3.4.5
pandas==0.25.0
pyjade==4.0.0
seaborn==0.9.0
spacy>=2.0.0,<3.0.0
https://github.com/explosion/spacy-models/releases/download/it_core_news_sm-2.1.0/it_core_news_sm-2.1.0.tar.gz
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.1.0/en_core_web_sm-2.1.0.tar.gz
wordcloud==1.5.0
