extends layout

block content
  h2 #{title}
  h3 #{message}
  p
    | Wagwan is a London slang coming from the Jamaican dialect.
    br
    | It's largely used to say "What's going on" (e.g. "Wagwan bruv?").
  p
    | The reason why I chose this name is because of a friend of mine asking me
    br
    | "Would you know how to check what people are talking about in a post of my facebook page just by looking at the comments?"
    br
    | So here we are. All you need is to create an app via facebook and get an access token, plus the facebook page id, and the post id.
  p
    | Plus, I love how "Wagwan" sounds.
