extends layout

block content
  h2 #{title}
  h3 #{message}
  address
    img.img-thumbnail(src='/static/pics/fab.jpg', alt='Fabrizio')
    br
    | Fabrizio Miano
    br
    |
    #[a(href='https://fabriziomiano.wordpress.com/') Personal Website] |
    #[a(href='https://www.linkedin.com/in/fabriziomiano/') LinkedIn] |
    #[a(href='https://www.github.com/fabriziomiano') GitHub] |
    #[a(href='https://www.twitter.com/in/burbunzillo/') twitter] |
    #[a(href='https://www.researchgate.net/profile/Fabrizio_Miano') ResearchGate] |
