extends layout

block content
  h2 #{title}
  h3 #{message}
  address
    img.img-thumbnail(src='/static/pics/fab.jpg', alt='Fabrizio')
    br
    | Fabrizio Miano
    br
    |
    #[a(href='https://fabriziomiano.github.io/', target="_blank") Resume] |
    #[a(href='https://www.linkedin.com/in/fabriziomiano/', target="_blank") LinkedIn] |
    #[a(href='https://www.github.com/fabriziomiano', target="_blank") GitHub] |
    #[a(href='https://www.twitter.com/in/burbunzillo/', target="_blank") twitter] |
    #[a(href='https://www.researchgate.net/profile/Fabrizio_Miano', target="_blank") ResearchGate] |
    #[a(href='https://fabriziomiano.wordpress.com/', target="_blank") Personal Blog] |