extends layout

block content
  .jumbotron
    h1 Wagwan
    h3
      | Extract topic info from Facebook posts.
    h5
      | An open-source free-to-use tool to extract keywords and named entities from all the comments
      | to a given post on a Facebook page. Additional info #[a(href='https://fabriziomiano.github.io/Wagwan/') here]
    p
      a.btn.btn-primary.btn-large(href='/about') Learn more &raquo;

  .row
    .col-md-6
      h2 Smart word count
      p Performs a smart word count, by grouping words by their lemma, ignoring stopwords, and without
       | taking into account capitalization.
      p
        a.btn.btn-default(href='/wc') Go to keyword extraction &raquo;
    .col-md-6
      h2 Named-Entity Recognition (NER)
      p
      | Named-Entity Recognition is performed by exploiting the models provided by #[a(href='https://spacy.io/') spaCy].
      | Languages supported: English and Italian.
      | Additional info on named entities and named-entity recognition can be found
      | #[a(href='https://en.wikipedia.org/wiki/Named_entity') here] and
      | #[a(href='https://en.wikipedia.org/wiki/Named-entity_recognition') here]

      p
        a.btn.btn-default(href='/ner') Go to Named-entity recognition &raquo;
