extends layout

block content
  .jumbotron
    h1 Wagwan
    p.lead Extract topic info from Facebook posts.
    p
      a.btn.btn-primary.btn-large(href='/about') Learn more &raquo;

  p.lead Results
  p Barplot of the most occurring Named Entities within the comments of the selected post
  if barplot_path
    img.img-responsive(src="/"+barplot_path)
  else
    h1 Sorry! No barplot has been produced

  if csv_filepath
    - var api_action = "/api/getcsv/"+csv_filepath
    form(method='GET' action=api_action)
      button.btn.btn-primary(type='submit') Save CSV file &darr;
  else
    h1 Sorry! no csv file produced
