extends layout

block content
  .jumbotron
    h1 Wagwan
    h3
      | Extract topic info from Facebook posts.
    h5
      | An open-source free-to-use tool to extract keywords and named entities from all the comments
      | to a given post on a Facebook page. Additional info #[a(href='https://fabriziomiano.github.io/Wagwan/') here]
    p
      a.btn.btn-primary.btn-large(href='/about') Learn more &raquo;

  h2 #{title}
  p This tool extracts the named entities with the highest occurrance from the comments to a given post.
  br
  if(error)
        //  qua si potrebbe mettere una gif carina
        h2
          span.
            #{error}
        if (fb_url)
          p Please either check whether #[a(href="#{fb_url}") the post] has comments or not, or double-check the provided data
  else
    p Fill in the *required fields

    form(method='POST' action='/api/run_ner')
      .form-group
        label(for='access_token') Access Token*
        input#exampleFormControlInput1.form-control(type='text', name='access_token', placeholder='Facebook page access token')
      .form-group
        label(for='page_id') Page ID*
        input#exampleFormControlInput1.form-control(type='text', name='page_id', placeholder='Facebook page ID, e.g. 12345678')
      .form-group
        label(for='page_id') Post ID*
        input#exampleFormControlInput1.form-control(type='text', name='post_id', placeholder='Facebook post ID, e.g. 9123990')
      .form-group
        label(for='n_top_entities') Max number of entities*
        input#exampleFormControlInput1.form-control(type='text', name='n_top_entities', placeholder='Default 20')
      .form-group
        label(for='lang') Language
        select#exampleFormControlSelect1.form-control(name='lang')
          option(value='en') Choose language (English default)
          option(value='en') English
          option(value='it') Italian
      button.btn.btn-primary(type='submit') Run NER &raquo;
